/* Container for the heading and icons grid */
.techstack-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 500px; /* Adjust width as needed */
}

/* Heading styling */
.techstack-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #f1eded;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

/* Icons grid */
.techstack-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Icon styling */
.techstack-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.9s ease-in-out;
}

.techstack-icon:hover {
    animation: bounce 0.7s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
