.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    gap: 20px; 
    padding-bottom: 5rem;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    max-width: 100%; 
}

.project-container::-webkit-scrollbar {
    display: none; /* Optional: Hide scrollbar */
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    min-width: 300px; /* Set a minimum width */
    max-width: 350px; /* Prevent cards from stretching too wide */
    flex: 0 0 auto; /* Ensures consistent size and no shrinking */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-title {
    color: white;
    padding: 1rem 0;
}

.project-details {
    padding-bottom: 0.5rem; 
    font-size: 1.1rem;
    text-align: justify;
    flex-grow: 1;
}

.project-buttons {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.project-buttons .btn {
    padding: 0.4rem 1.5rem;
}

.arrow-right {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px auto; 
    cursor: pointer;
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.2); 
    width: 50px;
    height: 50px;
    padding: 0; 
    border-radius: 50%; 
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -40px; 
}

.arrow-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

/* Media query for smaller screens */
@media screen and (max-width: 740px) {
    .project-container {
        flex-wrap: nowrap; /* Ensure cards don't wrap on small screens */
        overflow-x: auto; /* Enable horizontal scroll on small screens */
        max-width: 100%; /* Ensure container doesn't overflow screen */
        margin: auto;
    }
}
